<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "todoapp"
        version   = "1.0.0">
    <name>ToDoApp</name>
    <description>
        A single page to do list mobile web application.
    </description>
    <author email="vincent.redmond@webelevate.ie" href="http://www.digitalskillsacademy.com/">
        Vincent Redmond
    </author>

    <icon src="icon.png" />
    <icon src="res/icon/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />

    <gap:splash src="res/screen/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />

    <access origin="*" />
</widget>